.flags{
    position:absolute;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    z-index: 1;  
    right: 30px;
    top: 16px;
    gap: 16px;
    padding: 0px;
    margin: 0px;
   
}   

.ancord{
    padding: 0px;
    margin: 0px;
    font-size: 80px;
} 