.navigator{
    position:absolute;
    bottom: 10px; 
    font-family: got;
    width: 100%;
}
.navigator-ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.navigator-link{
  font-family: got;
  color: white;
}
a{
  text-decoration: none;
}