.box{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x:hidden ;
    flex-wrap: wrap;
    background-color: black;
    margin-top: 60px;
    height: 78vh;

}
.busqueda__search{
  width: 755px;
  height: 32px;
  margin: 19px 366px 2px 12px;
  font-family: Lato;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #6c6c6c;
  border-bottom: 2px white solid;
}
.busqueda{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.busqueda__homeimg{
    display: flex;
    justify-content: right;

}
.busqueda__gallery{
    display: flex;
    flex-wrap: wrap; 
    height: 78vh;
    width: 90%;
 
}
.timeline-container {
    height: 750px;
    width: 96%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 10vh;
  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .timeline-container::-webkit-scrollbar {
    width: 5px;
  }
  
  .timeline-container::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
  }
  
  .timeline-container::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(54, 54, 54);
  }
  .c-search{
    position:absolute;
    display: flex;
    justify-content:flex-end;
    align-items: center; 
    left: 64px;
    top: 28px;
}
.c-search__button{
    background-color: black;
    border-bottom: 4px bold white;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-color: white;
    width: 500px;
    height: 30px;
    color: white;
    cursor: pointer;
    outline: none;
    display: inline-block;
}
.c-search__img{
    text-decoration: underline;
    margin-bottom: 10px solid white;
}    