.box{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    padding-left: 176px;  
   
    

}
.busqueda__search{
  width: 755px;
  height: 32px;
  margin: 19px 366px 2px 12px;
  font-family: Lato;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #6c6c6c;
  border-bottom: 2px white solid;
}
.busqueda{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-right: 176px;
}
.busqueda__homeimg{
    display: flex;
    justify-content: right;

}