
.vertical-timeline-element-title{
    font-family: got;
    font-weight: lighter;
}
.vertical-timeline-element-subtitle{
    font-size:x-large;
    font-family: got;
    padding: 15px;
}

.timeline_img{
    border: 2px solid black;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    width: 200px;
    height: 200px;
}

.VerticalTimelineElement{
 width: 100px;
}
.vertical-timeline-element-content{
    background-color: black;
}

.timeline-container {
    /* height: 800px; */
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .timeline-container::-webkit-scrollbar {
    width: 5px;
  }
  
  .timeline-container::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
  }
  
  .timeline-container::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(54, 54, 54);
  }
.c-chronology__btn{
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: black;
color: white;
font-size: x-large;
}
.c-container__btn{
 position: absolute;
 z-index: 1;
 top: 90px;
 right: 47%;

}