.fondo{
   margin: 0px;
   background-image: url(https://cdn.zeplin.io/5e1c73baff24c3be01ba9cca/assets/6065c636-48ca-4142-8b36-8fd60a70402b.png);
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;

}
.caja{
    margin: 0 px;
    text-align: center;
    width: 1200px;
    height: 400px;
    
}
.title{
   
    font-family: got;
    font-weight: lighter;
    color: white;
    margin: 0px;
    font-size: 130px;
}

